@model ChannakyaAccounting.Models.ViewModel.DimensionValueListViewModel


@{
    var test = Model;
    var DimensionValue1TypeClass = "background-color:#00c0ef !important";
   
}
<script src="~/Scripts/bootstrap.min.js"></script>
@*<span class="icon">


    </span>*@

<div class="info-box bg-aqua" style="@DimensionValue1TypeClass">
    <div class="info-box-icon icon">
        <img class="DimensionValue1Image" id="@Model.DVId" src="~/Content/SBNJiAlSsx4AAAAASUVORK5CYII=.png" style="width:25px;height:25px;" />
        
    </div>


    @* <div class="inner" DimensionValue1-caption="@Model.DimensionValue1Name">
            <p id="DimensionValue1Caption" data-toggle="tooltip" data-placement="top" title="@Model.DimensionValue1Name" style="cursor:pointer;"> @Model.DimensionValue1Name</p>
            @*<span class="type" data-toggle="tooltip" data-placement="bottom" title="@Model.FinSys2.F2Desc" style="color:ghostwhite"><b style="max-height:15px;overflow:hidden;position:relative;">  @Html.DisplayFor(m => Model.FinSys2.F2Desc)</b></span>
        </div>*@

    <div class="info-box-content inner" DimensionValue1-caption="@Model.DimensionValue1">
        <span class="deleteNode" id="@Model.DVId" style="right:0px;position:absolute;cursor:pointer;margin:-7px 15px 0px 0px;"> <i class="glyphicon glyphicon-remove"></i></span>
        <span class="info-box-text" id="DimensionValue1Caption" data-toggle="tooltip" data-placement="top" title="@Model.DimensionValue1" style="cursor:pointer;"> @Model.DimensionValue1</span>
        <span class="info-box-number">@Model.DVId</span>

        <div class="progress">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
        @*<span class="progress-description">
            @empService.GetStatusName(Model.Status)
        </span>*@
    </div>
</div>

<style>
    .deleteNode:hover {
        background-color: indianred;
    }

    .inner > #DimensionValue1Caption {
        white-space: nowrap;
        width: 8em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).tooltip();
    });
</script>
