@model  ChannakyaBase.Model.ViewModel.AChqModel

<fieldset>
    <div class="col-md-12" style="text-decoration:underline;">
        <h4 style="font-weight:800">Account Information</h4>
    </div>
    <div class="col-md-3">Account No.</div>
    <div class="col-md-9">@Model.AccountNumber</div>
    <div class="col-md-3">Account Type</div>
    <div class="col-md-9">@Model.AccountType</div>
    <div class="col-md-3">Account Holder</div>
    <div class="col-md-9">@Model.AccountName</div>
    <div class="col-md-3">From</div>
    <div class="col-md-9">@Model.cfrom</div>
    <div class="col-md-3">To</div>
    <div class="col-md-9">@Model.cto</div>
</fieldset>
