@model ChannakyaAccounting.Models.ViewModel.DurationAccViewModel
@{
    var test = Model;
}




<tr class="detailsList">
    <td class="listDrill" id="@Model.Id" style="vertical-align:top;">
        <a class="inner listDrill" Duration-caption="@Model.Duration1" style="cursor:pointer;"> @Model.Duration1</a>
    </td>
    <td>
        @Model.Value
    </td>
   
    <td>
        @*<input type="button" id="@Model.DepartmentId" class="btn btn-link editList" value="Edit" />
            <input type="button" id="@Model.DepartmentId" class="btn btn-link deleteNode" value="Delete" />*@

    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs editList" id="@Model.Id" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs deleteNode" id="@Model.Id" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>

</tr>



