@model  IEnumerable<ChannakyaBase.Model.ViewModel.LoanRegAccOpenViewModel>
@using ChannakyaBase.BLL
<div class="box-body table-responsive no-padding col-md-12 " id="verified-registered-loan">
    <table class="table" > 
        <tr>


            <th>
                @Html.DisplayName("RegNo")
            </th>
            <th>
                @Html.DisplayName("Qouted Amont") 
            </th>
            <th>
                @Html.DisplayName("Approved Amount")
            </th>
            <th>
                @Html.DisplayName("Registered Date")
            </th>
            @*<th>
                    @Html.DisplayName("Duration")
                </th>*@
            <th>
                @Html.DisplayName("Name")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegId)
                </td>
                <td>
                    @item.LAmt.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td>@Convert.ToDecimal(item.SAmt).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture) </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Aname)
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-sm btn-collection-verify" onclick="LoanAccountOpen(@item.RegId,0,1)">Open Account <i class="fa fa-check" aria-hidden="true"></i></button>
                </td>
            </tr>
        }

    </table>
</div>