
@model ChannakyaBase.Model.ViewModel.CollectedAccountSheet
@{
    Layout = null;

}
@using ChannakyaBase.BLL.Service;

<table class="table table-bordered table-striped table-hover" id="accountCollected-table-div">
    <thead>
        <tr>

            <th>@Html.Label("Name")</th>
            <th>@Html.Label("Account Number")</th>
            <th>@Html.Label("Description")</th>
            <th>@Html.Label("Amount")</th>

        </tr>
    </thead>
    <tbody></tbody>

    @foreach (var item in Model.CollectedAccountSheetList)
    {
        <tr>
            @Html.HiddenFor(x => item.Amount, new { @class = "IndAmount" })
            @Html.HiddenFor(x => item.CollSheetId, new { @class = "RetId" })
            <td>@item.Name</td>
            <td>@item.AccountNumber</td>
            <td>@item.Description</td>
            <td>@item.Amount.ToString("0.00")</td>
            @*<td>
                <input type="button" value="Remove" class="btn btn-outline-primary" onclick="DeleteRowCollection(this,@item.RetId)" />
                @*<button type="button" class="btn btn-info btn-sm btn-edit glyphicon glyphicon-edit" onclick="EditRow(this)"></button>*@
            @*</td>*@
        </tr>


    }
    <tr>
        <th colspan="3">
            Sub-Total
        </th>
        <td>
            @Html.HiddenFor(model => model.TempTotal)
            @Model.TempTotal.ToString("0.00")
        </td>

    </tr>
</table>
