
@{ 
    Nullable<int> withBox = ViewData["WithBox"] as Nullable<int>;
    var value = ViewData["Value"] as string;
}

@if (withBox != null && withBox == 1)
{
    <div class="box box-warning col-md-12 interestValue-box">
        <div class="box-header with-border">
            <h2 class="box-title">
                Value Contribution
            </h2>
            <br />
            <br />
            <a class="btn btn-primary btn-xs addInterestRate" id="" data-title="Add More" style="float:right;"><span class="glyphicon glyphicon-plus"></span></a>
            <div class="interest-value-container">
                <div class="container col-md-12 interest-value-defined">
                    @Html.Label("Enter Value", new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.TextBox("InterestValue", null, new { @class = "form-control col-md-12 interest-textbox", @required = "required" })
                        @Html.ValidationMessage("InterestValue", null, new { @class = "text-danger" })
                    </div>


                </div>
            </div>
            <input type="button" class="btn btn-default useInterestValue" value="Done" style="float:right;">

        </div>
    </div>
}
else
{
   
            <h2 class="box-title">
                Value Contribution
            </h2>
            <br />
            <br />
            <a class="btn btn-primary btn-xs addInterestRate" id="" data-title="Add More" style="float:right;"><span class="glyphicon glyphicon-plus"></span></a>
            <div class="interest-value-container">
                <div class="container col-md-12 interest-value-defined">
                    @Html.Label("Enter Value", new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.TextBox("InterestValue", value, new { @class = "form-control col-md-12 interest-textbox", @required = "required" })
                        @Html.ValidationMessage("InterestValue", null, new { @class = "text-danger" })
                    </div>


                </div>
            </div>
            <input type="button" class="btn btn-default useInterestValue" value="Done" style="float:right;">
}


<script type="text/javascript">

    $('.useInterestValue').click(function () {
        debugger;
        $('ul.interest-tabs').empty();
        var allValue = $('.interest-value-defined').find('.interest-textbox');
        var productId = $(this).closest('.interest-main-container').attr('pid');
        var valueList = "";
        var tabcontainer = $('.interest-info-container');


        $(allValue).each(function (index, item) {
            var value = $(item).val();
            valueList = valueList + "," + value;
        });

        $.ajax({
            url: '/FinAcc/InterestValueList/',
            data: { allValue: valueList,productId:productId },

            dataType: "html",
            success: function (data) {
                $('.interest-main-container').find('ul.interest-tabs').css("display", "block");
                $('.interest-main-container').show();
                $('.interest-list-container').html(data);
            }
        });
        $('.interest-value-defined').each(function (index, item) {

            var textboxValue = $(item).find('.interest-textbox').val();
            var container = $('ul.interest-tabs');
            if (index == 0) {
                $(container).append('<li class="active"><a class="tab-button active" id="' + textboxValue + '" data-toggle="pill" href="#depositBasisId-' + textboxValue + '">' + textboxValue + '</a></li>')
            }
            else {
                $(container).append('<li ><a class="tab-button active" id="' + textboxValue + '" data-toggle="pill" href="#depositBasisId-' + textboxValue + '">' + textboxValue + '</a></li>')
            }


        });


    });


    $('.addInterestRate').click(function () {
        debugger;
        var container = $(this).closest('.interestValue-box').find('.interest-value-container');

        $.ajax({
            url: '/FinAcc/AddInterestValue/',
            dataType: "html",
            success: function (data) {
                $(container).append(data);
            }
        });



    });
</script>
