@model ChannakyaAccounting.Models.ViewModel.DenoInOutViewModel
@using ChannakyaAccounting.BL.CustomHelper;
@{
    string denoInActive = "";
    string denoOutActive = "";
    var test = Model;
}
<script src="~/Scripts/jquery.form.js"></script>
 @*<script src="http://malsup.github.com/jquery.form.js"></script>*@
<div class="modal fade" id="getDenoInner" data-width="400" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true" data-url=''></div>
<div class="modal-dialog add-details-finacc" style="width:100%;padding:0 150px 0 150px;top:20px; position:fixed;height:600px;">
    <div class="modal-content addvoucherDetails">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModal-label"> Deno </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("UpdateDeno", "Voucher1", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", @id = "denoTransaction" }))
            {
                @Html.HiddenFor(model => model.Amount)
                @Html.HiddenFor(model => model.V1TId)

                <div id="denoHeader" class="denoHeader active">
                    <div class="panel panel-info deno">
                        <div class="">
                            <div class="balance-deno-div" style="padding-bottom:5px">
                                <div class="col-md-4 deno-in-balance" style="background-color:#d9edf7">
                                    <label>In</label>
                                    @Html.TextBoxFor(x => x.BalanceIn, new { @class = "form-control text-right", @readonly = "readonly" })
                                </div>
                                <div class="col-md-4 deno-out-balance" style="background-color:#d9edf7">
                                    <label>Out</label>
                                    @Html.TextBoxFor(x => x.BalanceOut, new { @class = "form-control text-right", @readonly = "readonly" })
                                </div>
                                <div class="col-md-4 deno-inout-balance" style="background-color:#d9edf7">
                                    <label id="inoutbalance">Balance</label>
                                    @Html.TextBoxFor(x => x.Balance, new { @class = "form-control text-right", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="collapse in" id="dataTransaction">
                                @Html.CheckBoxFor(x => x.IsTransactionWithDeno, new { @class = "hidden" })

                                @*<div class="form-inline">
                                        <div class="form-group">
                                            <label>Transaction Amount:</label>

                                            @Html.TextBoxFor(x => x.TransactionAmount, new { @class = "form-control" })
                                        </div>

                                    </div>*@
                                <ul class="nav nav-tabs">

                                    @if (Model.DenoInOut == EDeno.DenoIn.GetDescription())
                                    {
                                        <li class="active"><a data-toggle="tab" href="#DenoIn">DenoIn</a></li>
                                        denoInActive = "in active";
                                    }
                                    else
                                    {
                                        <li><a data-toggle="tab" href="#DenoIn">DenoIn</a></li>
                                    }
                                    @if (Model.DenoInOut == EDeno.DenoOut.GetDescription())
                                    {
                                        <li class="active"><a data-toggle="tab" href="#DenoOut">DenoOut</a></li>
                                        denoOutActive = "in active";
                                    }
                                    else
                                    {
                                        <li><a data-toggle="tab" href="#DenoOut"> DenoOut </a></li>
                                    }

                                </ul>

                                <!-- /.box-header -->

                                <div class="tab-content" style="flex:1 1 auto;display:block;overflow-y:auto;max-height:50vh;position:relative;">
                                    <div id="DenoIn" class="tab-pane fade @denoInActive">
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-bordered table-striped table-hover">
                                                <thead>
                                                    <tr>


                                                        <th>
                                                            Current
                                                        </th>
                                                        <th>
                                                            Deno
                                                        </th>
                                                        <th></th>
                                                        <th>
                                                            Piece
                                                        </th>

                                                        <th>
                                                            Amount
                                                        </th>



                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item in Model.DenoInList)
                                                    {
                                                        @Html.Partial("_DenoIn", item)
                                                    }
                                                </tbody>

                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <div id="DenoOut" class="tab-pane fade @denoOutActive">
                                        <div class="box-body table-responsive no-padding" id="Deno-Out-table-div">
                                            <table class="table table-bordered table-striped table-hover">
                                                <thead>
                                                    <tr>


                                                        <th>
                                                            Current
                                                        </th>
                                                        <th>
                                                            Deno
                                                        </th>
                                                        <th></th>
                                                        <th>
                                                            Piece
                                                        </th>

                                                        <th>
                                                            Amount
                                                        </th>



                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item in Model.DenoOutList)
                                                    {
                                                        @Html.Partial("_DenoOut", item)
                                                    }
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="panel-footer">
                            Deno balance to match :  @Model.Amount
                            <button class="btn pull-right btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>

                            <input type="button" class="btn btn-success pull-right denoConfirm" value="Confirm" />
                        </div>

                    </div>

                </div>
            }
        </div>



        @*<div class="modal-footer">

            </div>*@

    </div>

</div>
<script>
    $(document).ready(function () {
        debugger
        $('#Amount').val( @ViewBag.Amount );
        $('#V1TId').val( @ViewBag.V1TId );
    });

    $(".DenoNumber").on("change", function () {
        debugger
        var parentTr = $(this).closest("tr");
        var denoNumber = $(this).val();
        if (denoNumber == "") {
            denoNumber = 0;
        }

        var piece = $(parentTr).find(".Deno").val();
        var userId = $(parentTr).find(".UserId").val();
        var UserLevel = $(parentTr).find(".UserLevel").val()
        var total = parseFloat(piece) * parseFloat(denoNumber)
        $(parentTr).find(".DenoNumberTotal").val(total);
        var denoInTotal = 0;
        var items = $("tr").find("input.DenoNumberTotal");
        $.map(items, function (value, index) {
            denoInTotal += parseFloat($(value).val());
        });

        var denoOutTotal = parseFloat($("#BalanceOut").val());
        $('.deno-in-balance').find("#BalanceIn").val(denoInTotal);
        var BalanceInOutTotal = denoInTotal - denoOutTotal;
        if (BalanceInOutTotal < 0) {
            $("#inoutbalance").html("Out Balance");
        } else {
            $("#inoutbalance").html("In Balance");
        }
        $(".deno-inout-balance").find("#Balance").val(Math.abs(BalanceInOutTotal));

    })

    $(".DenoNumberOut").on("change", function () {
        debugger;
        var parentTr = $(this).closest("tr");
        var denoNumber = $(this).val();

        var me = $(this);
        var userId = $(parentTr).find(".UserId").val();
        var UserLevel = $(parentTr).find(".UserLevel").val()
        var transactionId = $("#TrancactionId").val();
        var denoId = $(parentTr).find(".DenoID").val();
        if (denoNumber == "") {
            denoNumber = 0;
        }
        var pieceTotal = $(parentTr).find(".PieceOut").val();
        var pieceOutTotal = $(parentTr).find(".DenoOut").val();

        var grandTotal = parseFloat(pieceTotal) - parseFloat(denoNumber)
        if (grandTotal < 0) {
            $.MessageBox({
                buttonDone: "OK",
                message: "You don't have sufficient balance!!"
            }).done(function () {
                $(me).val(0);

                $(me).focus();
                return false;
            }).fail(function () {
                //return false;
            })
            return;
        }
        var total = parseFloat(pieceOutTotal) * parseFloat(denoNumber)
        $(parentTr).find(".DenoNumberTotalOut").val(total);
        var items = $("tr").find("input.DenoNumberTotalOut");
        var denoOutTotal = 0;
        $.map(items, function (value, index) {
            denoOutTotal += parseFloat($(value).val());
        });
        $('.deno-out-balance').find("#BalanceOut").val(denoOutTotal);
        var denoInTotal = parseFloat($("#BalanceIn").val());
        var BalanceInOutTotal = denoInTotal - denoOutTotal;
        if (BalanceInOutTotal < 0) {
            $("#inoutbalance").html("Out Balance");
        } else {
            $("#inoutbalance").html("In Balance");
        }
        $(".deno-inout-balance").find("#Balance").val(Math.abs(BalanceInOutTotal));
    }

    )
</script>
