@model IEnumerable<ChannakyaAccounting.Models.Models.VoucherNo>
@*<script src="~/Scripts/ch-treeview.js"></script>*@
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Voucher Map";
    var test = Model;
}


<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"> @ViewBag.Title </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->

    <div class="box-body">
        <div id="explorer" class="VoucherMap-explore">
            @Html.Hidden("viewType", 1)

            <div id="explore-details" class="col-md-12 explore-details">
                <div class="panel-create" id="create">

                </div>
                <div class="panel-list" id="list">
                    @{Html.RenderPartial("_Details", Model);}
                </div>
            </div>
        </div>

    </div><!-- /.box-body -->
</div><!-- /.box -->

<script type="text/javascript">

    $('.VoucherMap-explore').on('click', '.listView', function (event) {
        debugger;

        var viewId = $(this).closest('.VoucherMap-explore').find('#viewType')
        if (viewId.val() == 1) {
            viewId.val(2)
        }
        else {
            viewId.val(1)
        }
        var nodeId = $(this).closest('.panel-list').find('input#pVoucherMapId').val();
        if (nodeId == "") {
            nodeId = 0;
        }
        $('.panel-list').trigger('nodeClick', [{ nodeId: nodeId }]);

    });
    $('.panel-list').on('nodeClick', function (e, data) {
        debugger;
        e.stopPropagation();
        var container = $(this).closest('.VoucherMap-explore').find('.panel-list');
        var listType = $(this).closest('.VoucherMap-explore').find('#viewType').val();
        $.ajax({
            type: "get",
            url: '@Url.Action("_Details", "UserVsVoucherMap")',
            contentType: "application/json; charset=utf-8",
            data: { ViewType: listType },
            dataType: "html",
            success: function (html) {
                $(container).html(html);
            },
            error: function () {
                alert("error");
            }
        });
    });

    @*$('.VoucherMap-treeview').on('nodeClick', function (e, data) {
        debugger;
        e.stopPropagation();
        var container = $(this).closest('.VoucherMap-explore').find('.panel-list');
        var listType = $(this).closest('.VoucherMap-explore').find('#viewType').val();
        $.ajax({
            type: "get",
            url: '@Url.Action("_Details", "UserVsVoucherMap")',
            contentType: "application/json; charset=utf-8",
            data: { ViewType: listType },
            dataType: "html",
            success: function (html) {
                $(container).html(html);
            },
            error: function () {
                alert("error");
            }
        });
    });*@




    $('.VoucherMap-explore').on('click', "#btn-back", function (e) {

        $(this).closest('.VoucherMap-explore').find('.VoucherMap-treeview').moveUp();
        //$(this).closest('.VoucherMap-explore').find('.VoucherMap-treeview').updateTreeview("VoucherMap", "_UpdateVoucherMapTree", 1009,-1)
    });

    $('.VoucherMap-explore').on('click', ".btndrill , .listDrill", function (e) {
        var id = $(this).attr("id");
        $(this).closest('.VoucherMap-explore').find('.VoucherMap-treeview').SelectNode(id);
    });

    $('.VoucherMap-explore').on('click', '.VoucherMapImage1, .editList1, .btn-create-VoucherMap', function (e) {
        debugger;
        e.stopPropagation();
        var container = $(this).closest('.VoucherMap-explore').find('.panel-create');

        //----------Select active element and Id--------------------------------------------//
        var activeElement = $(this).closest('.VoucherMap-explore').find('.treeview-selected').text().trim();

        //var activeId = $(this).closest('.VoucherMap-explore').find('.treeview-selected').attr('nodeid');
        var VoucherMapId = 0;

        if ($(this).hasClass('btn-create-VoucherMap') == true) {
            VoucherMapId = 0;
        }
        else {
            //if ($(this).attr('class') == 'VoucherMapImage1'||'editList1') {
            VoucherMapId = $(this).attr('id');
        }
        var pVoucherMapId = $('p#VoucherMapCaption').val()
        if (pVoucherMapId == "") {
            pVoucherMapId = 0;
        }
        //-------------------------------------------------------------------------------------//
        $.ajax({
            type: "get",
            url: '@Url.Action("Create", "VoucherMap")',
            data: { VoucherMapId: VoucherMapId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (html) {
                $(container).html(html);
                $(container).removeData("validator");
                $(container).removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse($(container));
            },
            error: function () {
                alert("error");
            }
        });
    });
    $('.VoucherMap-explore').on('click', '.deleteNode', function (e) {
        debugger;
        var VoucherMapId = $(this).attr('id');

        $.ajax({
            type: "get",
            url: '@Url.Action("DeleteVoucher", "UserVsVoucherMap")',
            data: { id: VoucherMapId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (deleteConfirm) {
                $.MessageBox({
                    buttonDone: "Yes",
                    buttonFail: "No",
                    message: "Are you sure you want to Delete?"
                }).done(function () {
                    debugger;
                    if (deleteConfirm == 'true') {
                        debugger;
                        deleteVoucherMap(VoucherMapId);
                    }
                    else {
                        ErrorAlert("Please Delete Data Linked to Voucher First", 5000);
                    }
                })
            },
            // $(container).html(html);

            error: function () {
                alert("error");
            }
        });


    });
    function deleteVoucherMap(VoucherMapId) {
        debugger;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("VoucherDeleteConfirm", "UserVsVoucherMap")',
            data: { VoucherMapId: VoucherMapId },
            success: function () {
                SuccessAlert("VoucherMap Sucessfully Deleted", 5000)
                $.fn.GetLayoutVoucherMap();
            },
            error: function () {
                alert("error");
            }
        });
        //        $.post(url, dataToPost).done(function (response, status, jqxhr) {
        //    alert();
        //})
    }


    $('.VoucherMap-treeview').on('filterTree', function (e, data) {
        debugger;
        //string filterString, bool allowSelectGroup, bool withCheckBox, bool withImageIcon
        e.stopPropagation();
        var TreeViewParam = {
            Controller: '',
            Action: '',
            WithCheckBox: data.withCheckBox,
            AllowSelectGroup: data.allowSelectGroupNode,
            WithImageIcon: data.withImageIcon,
            WithOutMe: 0,// data.withOutMe,
            Title: '',
            SelectedNodeId: 0,
            Filter: data.param.Filter,
            SelectedNodeText: ''
        }

        var url = "/VoucherMap/_GetVoucherMapTree"
        var container = $(this).closest('.VoucherMap-explore').find('.treeview-area');

        $(container).load(url, { param: TreeViewParam });

    });
    $('.panel-list').on('keyup', ".txtSearch", function (e) {
        debugger;
        var query = $('input.txtSearch').val();
        var filter = query.toUpperCase();
        //var checkVoucherMap = $(this).closest('.panel-list').find('.box-body').find('col-lg-3.col-xs-6.details');
        if (filter == "") {
            $('.detailsList').each(function (index, item) {
                debugger;
                var findList = $(item).find('.inner').hasClass('listDrill');
                if (findList == true) {
                    $(item).css('display', 'table-row');
                }
                else {
                    $(item).css('display', 'block');
                }

            });
        }
        else {
            $('.detailsList').each(function (index, item) {
                debugger;
                var findList = $(item).find('.inner').hasClass('listDrill');
                if (findList == false) {
                    var text = $(item).find('.inner').attr('VoucherMap-caption').toUpperCase();
                    $(item).css('display', 'block');
                } else {
                    var text = $(item).find('.inner').attr('VoucherMap-caption').toUpperCase();
                    $(item).css('display', 'table-row');
                }
                if (text.search(filter) == -1) {
                    debugger;
                    $(item).css('display', 'none');
                }
                //$(text+':not(:contains(' + filter + '))').hide();
            });
        }
    });
    $.fn.GetLayoutVoucherMap = function () {
        debugger;

        $.ajax({
            type: "POST",
            url: "/UserVsVoucherMap/Index/",
            dataType: "html",
            success: function (data) {
                $('section.content').html(data);
            }
        });
    };

</script>

