@model ChannakyaAccounting.Models.Models.VoucherBal


@{
    var test = Model;
    var VoucherBalTypeClass = "background-color:#00c0ef !important";
  
    
}
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="info-box bg-aqua" style="@VoucherBalTypeClass">
    <div class="info-box-icon icon">
        <img class="VoucherBalImage" id="@Model.Id" src="~/Content/SBNJiAlSsx4AAAAASUVORK5CYII=.png" style="width:25px;height:25px;" />
        
    </div>


    @* <div class="inner" VoucherBal-caption="@Model.VoucherBalName">
            <p id="VoucherBalCaption" data-toggle="tooltip" data-placement="top" title="@Model.VoucherBalName" style="cursor:pointer;"> @Model.VoucherBalName</p>
            @*<span class="type" data-toggle="tooltip" data-placement="bottom" title="@Model.FinSys2.F2Desc" style="color:ghostwhite"><b style="max-height:15px;overflow:hidden;position:relative;">  @Html.DisplayFor(m => Model.FinSys2.F2Desc)</b></span>
        </div>*@

    <div class="info-box-content inner" VoucherBal-caption="@Model.FId">
        <span class="deleteNode" id="@Model.Id" style="right:0px;position:absolute;cursor:pointer;margin:-7px 15px 0px 0px;"> <i class="glyphicon glyphicon-remove"></i></span>
        <span class="info-box-text" id="VoucherBalCaption" data-toggle="tooltip" data-placement="top" title="@Model.FId" style="cursor:pointer;"> @Model.Id</span>
        <span class="info-box-number">@Model.Id</span>

        <div class="progress">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
        @*<span class="progress-description">
            @empService.GetStatusName(Model.Status)
        </span>*@
    </div>
</div>

<style>
    .deleteNode:hover {
        background-color: indianred;
    }

    .inner > #VoucherBalCaption {
        white-space: nowrap;
        width: 8em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).tooltip();
    });
</script>
