@model IEnumerable<ChannakyaAccounting.Models.Models.VoucherBal>
@*<script src="~/Scripts/ch-treeview.js"></script>*@
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Opening Balance Setup";
    var test = Model;
}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"> @ViewBag.Title </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->

    <div class="box-body">
        <div id="explorer" class="VoucherBalance-explore section-treeview ">
            <div class="modal fade" id="getAllLedger" data-width="400" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true" data-url='@Url.Action("GetLedgerList", "VoucherBalance")'></div>
            @Html.Hidden("viewType", 1)

            <div id="explore-details" class="col-md-12 explore-details">
                <div class="panel-create " id="create">

                </div>
                <div class="panel-list" id="list">
                    @{Html.RenderPartial("_Details", Model);}
                </div>
            </div>



        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var test = $("input.btn.btn-box-tool.txtSearch");
        $("input.btn.btn-box-tool.txtSearch").focus();

    });
    $('.VoucherBalance-explore').on('click', '.listView', function (event) {
        debugger;

        var viewId = $(this).closest('.VoucherBalance-explore').find('#viewType')
        if (viewId.val() == 1) {
            viewId.val(2)
        }
        else {
            viewId.val(1)
        }
        var nodeId = $(this).closest('.panel-list').find('input#pVoucherBalanceId').val();
        if (nodeId =="")
        {
            nodeId = 0;
        }
        $('.panel-list').trigger('nodeClick', [{ nodeId: nodeId }]);

    });

    $('.panel-list').on('nodeClick', function (e, data) {
        debugger;
        e.stopPropagation();

        var container = $(this).closest('.VoucherBalance-explore').find('.panel-list');
        var listType = $(this).closest('.VoucherBalance-explore').find('#viewType').val();
        $.ajax({
            type: "get",
            url: '@Url.Action("_Details", "VoucherBalance")',
            contentType: "application/json; charset=utf-8",
            data: {ViewType: listType},
            dataType: "html",
            success: function (html) {
                $(container).html(html);
            },
            error: function () {
                alert("errorwwwwwwwwww");
            }
        });
    });



    $('.VoucherBalance-explore').on('click', "#btn-back", function (e) {

        $(this).closest('.VoucherBalance-explore').find('.VoucherBalance-treeview').moveUp();
        //$(this).closest('.VoucherBalance-explore').find('.VoucherBalance-treeview').updateTreeview("VoucherBalance", "_UpdateVoucherBalanceTree", 1009,-1)
    });

    $('.VoucherBalance-explore').on('click', ".btndrill , .listDrill", function (e) {
        var id = $(this).attr("id");
        $(this).closest('.VoucherBalance-explore').find('.VoucherBalance-treeview').SelectNode(id);
    });


    $('.VoucherBalance-explore').on('click', '.VoucherBalanceImage, .editList, .btn-create-VoucherBals', function (e) {
        debugger;
        e.stopPropagation();
        var container = $(this).closest('.VoucherBalance-explore').find('.panel-create');
        //----------Select active element and Id--------------------------------------------//
        //var activeElement = $(this).closest('.VoucherBalance-explore').find('.treeview-selected').text().trim();
        //var activeId = $(this).closest('.VoucherBalance-explore').find('.treeview-selected').attr('nodeid');
        var VoucherBalanceId = 0;
        if ($(this).attr('class') == 'VoucherBalanceImage' || 'editList') {
            VoucherBalanceId = $(this).attr('id');
        }
        //var pVoucherBalanceId = $('#pVoucherBalanceId').val()
        //if (pVoucherBalanceId == "") {
        //    pVoucherBalanceId = 0;
        //}
        //-------------------------------------------------------------------------------------//
        $.ajax({
            type: "get",
            url: '@Url.Action("Create", "VoucherBalance")',
            data: { VoucherBalanceanceId: VoucherBalanceId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (html) {
                $(container).html(html);
                $(container).removeData("validator");
                $(container).removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse($(container));


            },
            error: function () {
                alert("error");
            }
        });
    });

    $('.VoucherBalance-explore').on('click', '.deleteNode', function (e) {
        debugger;
        var VoucherBalanceId = $(this).attr('id');
        $.ajax({
            type: "get",
            url: '@Url.Action("Delete", "VoucherBalance")',
            data: { id: VoucherBalanceId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (deleteConfirm) {
                $.MessageBox({
                    buttonDone: "Yes",
                    buttonFail: "No",
                    message: "Are you sure you want to Delete?"
                }).done(function () {

                    debugger;
                    if (deleteConfirm == 'true') {
                        debugger;
                        deleteVoucherBalance(VoucherBalanceId);
                    }
                    else {
                        ErrorAlert("Please Delete Child Nodes First", 5000);
                    }
                })
            },
            // $(container).html(html);

            error: function () {
                alert("error");
            }
        });


    });
    function deleteVoucherBalance(VoucherBalanceId, nodeId) {
        debugger;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteConfirm", "VoucherBalance")',
            data: { VoucherBalanceId: VoucherBalanceId },
            success: function () {
                SuccessAlert("VoucherBalance Sucessfully Deleted", 5000)
                $('.panel-list').trigger('nodeClick', [{ nodeId: nodeId }]);
            },
            error: function () {
                alert("error");
            }
        });
    }


    $('.ch-treeview').on('filterTree', function (e, data) {
        debugger;
        //string filterString, bool allowSelectGroup, bool withCheckBox, bool withImageIcon
        e.stopPropagation();
        var TreeViewParam = {
            Controller: '',
            Action: '',
            WithCheckBox: data.withCheckBox,
            AllowSelectGroup: data.allowSelectGroupNode,
            WithImageIcon: data.withImageIcon,
            WithOutMe: 0,// data.withOutMe,
            Title: data.Title,
            SelectedNodeId: 0,
            Filter: data.param.Filter,
            SelectedNodeText: ''
        }

        var url = "/VoucherBalance/_GetVoucherBalanceTree"
        var container = $(this).closest('.VoucherBalance-explore').find('.treeview-area');

        $(container).load(url, { param: TreeViewParam });

    });

    $('.panel-list').on('keyup', ".txtSearch", function (e) {
        debugger;
        var query = $('input.txtSearch').val();
        var listType = $(this).closest('.VoucherBalance-explore').find('#viewType').val();
        var container = $(this).closest('.VoucherBalance-explore').find('.panel-list');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("_Details", "VoucherBalance")',
            data: { ViewType: listType, query: query },
            success: function (data) {
                debugger;
                var test = $("input.btn.btn-box-tool.txtSearch");
                $("input.btn.btn-box-tool.txtSearch").focus();
                $(container).html(data);
            },
            error: function () {
                alert("error");
            }
        });
            });




    //$(document).ready(function () {
    //    $.fn.pagination(1, 0, 0)

    //    $('.pagination').on('click', '.pagerClass', function () {
    //        debugger;
    //        var pagingData = $(this).attr('id');
    //        $.fn.pagination(pagingData, 0, 0);

    //    });

    //    $('.pagination').on('click', 'li.next , li.previous', function () {
    //        debugger;
    //        var cls = $(this).attr('class');
    //        if ($(this).attr('class') == 'next') {
    //            var pager = $('ul.pagination.VoucherBalancepaginatoin').find('.active').attr('id');
    //            var finalId = parseInt(pager) + 1;
    //            var hasNext = $('ul.pagination.VoucherBalancepaginatoin').find('li#' + finalId)
    //            if ($(hasNext).length > 0) {
    //                $.fn.pagination(finalId, 0, 0)
    //            }
    //        }
    //        else {
    //            var pager = $('ul.pagination.VoucherBalancepaginatoin').find('.active').attr('id');
    //            var finalId = parseInt(pager) - 1;
    //            var hasPrev = $('ul.pagination.VoucherBalancepaginatoin').find('li#' + finalId)
    //            if ($(hasPrev).length > 0) {
    //                $.fn.pagination(finalId, 0, 0)
    //            }
    //        }

    //    });
    //});

    //$.fn.pagination = function (pagerId, next, previous) {
    //    debugger;
    //    var checkActive = $('ul.pagination.VoucherBalancepaginatoin').find('li').hasClass('active');
    //    if (checkActive == true) {
    //        $('ul.pagination.VoucherBalancepaginatoin').find('.active').removeClass('active');
    //    }
    //    else {
    //        var listcount = 0;
    //        $('.detailsList').each(function (index, item) {
    //            listcount++;
    //        });
    //        var i;
    //        var mod = listcount / 10;
    //        for (i = 1; i <= mod + 1; i++) {
    //            debugger;
    //            $('ul.pagination.VoucherBalancepaginatoin').append('<li id=' + i + ' class="pagerClass"><a>' + i + '</a> </li>')
    //        }
    //    }
    //    $('ul.pagination.VoucherBalancepaginatoin').find('li#' + pagerId).addClass('active');
    //    var pagerRange = 10;
    //    var paginatonData = pagerId * pagerRange;
    //    $('.detailsList').each(function (index, item) {
    //        debugger;
    //        if (paginatonData > pagerRange) {
    //            var checkPagination = paginatonData - pagerRange;
    //            if (index <= paginatonData && index > checkPagination) {
    //                var text = $(item).find('.inner').attr('VoucherBalance-caption').toUpperCase();
    //                $(item).css('display', 'table-row');
    //            }
    //            else {
    //                var text = $(item).find('.inner').attr('VoucherBalance-caption').toUpperCase();
    //                $(item).css('display', 'none');
    //            }
    //        }
    //        else {
    //            if (index <= paginatonData) {
    //                var text = $(item).find('.inner').attr('VoucherBalance-caption').toUpperCase();
    //                $(item).css('display', 'table-row');
    //            }
    //            else {
    //                var text = $(item).find('.inner').attr('VoucherBalance-caption').toUpperCase();
    //                $(item).css('display', 'none');
    //            }
    //        }

    //    });
    //};





</script>
