@model ChannakyaAccounting.Models.ViewModel.ProductDetailViewmodel


@{
    var test = Model;

    var productTypeClass = "background-color:#00c0ef !important";
    if (Model.SType == 1)
    {
        productTypeClass = "background-color:lightslategray !important";
    }
    ChannakyaAccounting.Service.DepositProduct.DepositProductService schmService = new ChannakyaAccounting.Service.DepositProduct.DepositProductService();
}
<script src="~/Scripts/bootstrap.min.js"></script>
@*<span class="icon">


    </span>*@
<div class="info-box bg-aqua" style="@productTypeClass">
    <div class="info-box-icon icon">
            <img class="ProductImage" id="@Model.PID" data-toggle="tooltip" title="Edit" src="~/Content/SBNJiAlSsx4AAAAASUVORK5CYII=.png" style="width:25px;height:25px;" />
    </div>


    @* <div class="inner" Product-caption="@Model.ProductName">
            <p id="ProductCaption" data-toggle="tooltip" data-placement="top" title="@Model.ProductName" style="cursor:pointer;"> @Model.ProductName</p>
            @*<span class="type" data-toggle="tooltip" data-placement="bottom" title="@Model.FinSys2.F2Desc" style="color:ghostwhite"><b style="max-height:15px;overflow:hidden;position:relative;">  @Html.DisplayFor(m => Model.FinSys2.F2Desc)</b></span>
        </div>*@

    <div class="info-box-content inner" Product-caption="@Model.PName">
        <span class="deleteNode" id="@Model.PID" data-toggle="tooltip" title="Delete" style="right:0px;position:absolute;cursor:pointer;margin:-7px 15px 0px 0px;"> <i class="glyphicon glyphicon-remove"></i></span>
        <span class="info-box-text" id="ProductCaption" data-toggle="tooltip" data-placement="top" title="@Model.PName" style="cursor:pointer;"> @Model.PName</span>
        <span class="info-box-number">@Model.PID</span>

        <div class="progress">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
        
            <span class="progress-description">
                @if(Model.SType == 1)
                {
                   <span>Loan </span>
                }
                else
                {
                    <span>Product</span>
                }

                </span>






        </div>
    </div>



    <style>


        .deleteNode:hover {
                        background-color: indianred;
                    }

    .inner > #ProductCaption {
        white-space: nowrap;
                    width: 8em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).tooltip();
                });
</script>

