@model IEnumerable<ChannakyaBase.Model.ViewModel.DepositBalanceTillDateAmountWiseModel>
    @{ 
        decimal intToExpSum = 0;
        decimal IntToCapSum = 0;
        decimal balanceSum = 0;
    }
<div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntToExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntToCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td style="text-align:right">
                    @Convert.ToDecimal(item.IntToExp).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td style="text-align:right">
                    @Convert.ToDecimal(item.IntToCap).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td style="text-align:right">
                    @Convert.ToDecimal(item.Balance).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>


            </tr>
            balanceSum += Convert.ToDecimal(item.Balance);
            IntToCapSum += Convert.ToDecimal(item.IntToCap);
            intToExpSum += Convert.ToDecimal(item.IntToExp);
        }
<tr>
    <td colspan="2">Total</td>
    <td style="text-align:right">
        @intToExpSum.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
    </td>
    <td style="text-align:right">
        @IntToCapSum.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
    </td>
    <td style="text-align:right">
        @balanceSum.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
    </td>
</tr>
    </table>
    </div>