@model IEnumerable<ChannakyaBase.Model.ViewModel.InterestLogModel>
@using ChannakyaBase.BLL
@{
    CommonService commonService = new CommonService();
    decimal sumBalance = 0;
    decimal sumRate = 0;
    decimal sumIntcal = 0;
}
<div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                Date
            </th>
            <th>
                AccountNo
            </th>
            <th>
                ProductName
            </th>
            <th>
                Balance
            </th>
            <th>
                Rate
            </th>
            <th>
                Int.Cal
            </th>
            <th>
                Remarks
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @commonService.GetEnglishDate(item.TDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACCNO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PNAME)
                </td>
                
                <td style="text-align:right!important">
                    @Convert.ToDecimal(item.BALANCE).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td style="text-align:right!important">
                    @Convert.ToDecimal(item.RATE).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
            
                <td style="text-align:right!important">
                    @Convert.ToDecimal(item.INTCAL).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REMARK)
                </td>
                
            </tr>
            sumBalance += Convert.ToDecimal(item.BALANCE);
            sumRate += Convert.ToDecimal(item.RATE);
            sumIntcal += Convert.ToDecimal(item.INTCAL);
        }
        <tr>
            <td colspan="3">Total</td>
            <td style="text-align:right!important">@sumBalance.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
            <td style="text-align:right!important">@sumRate.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
            <td style="text-align:right!important">@sumIntcal.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
            <td></td>
        </tr>
    </table>
    </div>
