@model IEnumerable<ChannakyaBase.Model.ViewModel.InterestCapitalizationModel>
 @using ChannakyaBase.BLL
@{ 
    CommonService commonService = new CommonService();
    decimal sumTaxRate = 0;
    decimal suTaxAmount = 0;
    decimal sumInterest = 0;
    decimal sumCapital = 0;
}

<div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                AccountName
            </th>
            <th>AccountNumber</th>
            <th>
                Date
            </th>

            <th>
                Tax Rate
            </th>

            <th>
                Tax Amount
            </th>
            <th>
                Interest Amount
            </th>
            <th>
                Capitalize
            </th>
            <th>
                Posted to A/C
            </th>



        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.PName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromAccNo)
                </td>
                <td>
                    @commonService.GetEnglishDate( item.VDate)
                </td>
                <td style="text-align:right!important">
                    @item.TaxRt.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td style="text-align:right!important">
                    @Convert.ToDecimal(item.Tax).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td style="text-align:right!important">
                    @item.IntAmt.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>

                <td style="text-align:right!important">
                    @Convert.ToDecimal(item.CRamt).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToAccNo)
                </td>

            </tr>
            sumTaxRate += Convert.ToDecimal(item.TaxRt);
            suTaxAmount += Convert.ToDecimal(item.Tax);
            sumInterest+= Convert.ToDecimal(item.IntAmt);
            sumCapital+= Convert.ToDecimal(item.CRamt);
        }
        <tr>
            <td colspan="4">Total</td>
            <td style="text-align:right!important">@sumTaxRate.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
            <td style="text-align:right!important">@suTaxAmount.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
            <td style="text-align:right!important">@sumInterest.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
            <td style="text-align:right!important">@sumCapital.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
            <td></td>
        </tr>
    </table>
    </div>
