@model IEnumerable<ChannakyaBase.Model.ViewModel.LoanOutstandingModel>
 @using ChannakyaBase.BLL;
@{ 
    CommonService commonService = new CommonService();
}

<div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
               AccountNumber
            </th>
            <th>
               AccountName
            </th>
            <th>
                ProductName
            </th>

            <th>
               Mat.Date
            </th>
           
            <th>
              DisbursedAmount
            </th>
            <th>
               OutstandingAmount
            </th>
            <th>
               RemainingToDisbursed
            </th>
            <th>
                ApprovedAmount
            </th>
            <th>
                Int.Rate
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Accno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PName)
                </td>

                <td>
                    @commonService.GetEnglishDate(Convert.ToDateTime(item.MatDat))
                  
                </td>
                
                <td style="text-align:right">
                    @item.DisbursedAmount.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td style="text-align:right">
                    @item.OutstandingAmount.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td style="text-align:right">
                    @item.RemainingToDisbursed.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td style="text-align:right">
                    @item.AppAmt.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.IRate)
                </td>              

            </tr>
        }
        
    </table>
    </div>
