@model IEnumerable<ChannakyaBase.Model.ViewModel.OverdraftBalanceModel>
@using ChannakyaBase.BLL

@{
    CommonService commonService = new CommonService();
    decimal sumBal = 0;
    decimal sumOdInterest = 0;
    decimal sumApp = 0;
}


<div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-hover">
        <tr>

            <th>
                AccountNumber
            </th>
            <th>
                AccountName
            </th>

            <th>
                Balance
            </th>
            <th>
                ODInterest
            </th>
            <th>
                ApproveAmount
            </th>
            <th>
                ValueDate
            </th>

            <th>
                Duration
            </th>
            <th>
                Mature Date
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Accno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aname)
                </td>
                <td style="text-align:right!important">
                     @Convert.ToDecimal(item.Bal).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td style="text-align:right!important">
                      @Convert.ToDecimal(item.ODInterest).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td style="text-align:right!important">
                   @Convert.ToDecimal(item.AppAmt).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>
                <td>
                    @commonService.GetEnglishDate(Convert.ToDateTime(item.ValDat))
                </td>
                @if (item.Month != null && item.Days != null)
                {
                    <td>@item.Month -Month(s), @item.Days -Day(s)</td>
                }
                else if (item.Month != null)
                {
                    <td>@item.Month -Month(s)</td>
                }
                else if (item.Days != null)
                {
                    <td> @item.Days -Day(s)</td>
                }

                <td>
                    @commonService.GetEnglishDate(Convert.ToDateTime(item.MatDat))
                </td>
                

            </tr>
            sumBal += item.Bal;
            sumApp += item.AppAmt;
            sumOdInterest += Convert.ToDecimal(item.ODInterest);
        }
        <tr>
            <td colspan="2">Total</td>
            <td style="text-align:right!important">@sumBal.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
            <td style="text-align:right!important">@sumApp.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
            <td style="text-align:right!important">@sumOdInterest.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
            <td colspan="3"></td>

</tr>

    </table>
    </div>