@model IEnumerable<ChannakyaBase.Model.ViewModel.ProductTransactionReport>
@using ChannakyaBase.BLL.CustomHelper
@using ChannakyaBase.BLL
@using ChannakyaBase.BLL.Service
@{
    CommonService cmService = new CommonService();

}
<div class="table table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>

                    TrnxNo.

                </th>
                <th>
                    TrnxDate
                </th>
                @*<th>
                    NepDate
                </th>*@
                <th>
                    AccountNumber
                </th>
                <th>
                    Name
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Notes
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @item.TNO
                    </td>
                    <td>
                        @if (item.VDATE != Convert.ToDateTime("1/1/0001 12:00:00 AM"))
                {
                            <span>@cmService.GetEnglishDate(Convert.ToDateTime(item.VDATE))</span>
                        }
                    </td>
                    @*<td>
                        @if (item.VDATE != Convert.ToDateTime("1/1/0001 12:00:00 AM"))
                {
                            <span>@cmService.GetNepaliDate(Convert.ToDateTime(item.VDATE))</span>
                        }
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ACCNO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ANAME)
                    </td>

                    <td style="text-align:right!important">
                        <span> @Convert.ToDecimal(item.AMT).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOTES)
                    </td>
                </tr>
            }
        </tbody>

    </table>
    </div>