@model IEnumerable<ChannakyaBase.Model.ViewModel.RemittanceReportModel>
@using ChannakyaBase.BLL
@{
    CommonService commonService = new CommonService();
    decimal sumBalance = 0;
}
<div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemitCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Particular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Tno
                </td>
                <td>
                    @commonService.GetEnglishDate(item.TDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemitCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Particular)
                </td>
                <td style="text-align:right!important">
                    @item.Amount.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>

            </tr>
            sumBalance += item.Amount;
        }
        <tr>
            <td colspan="4">Total</td>
            <td style="text-align:right!important">@sumBalance.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>


        </tr>
    </table>
    </div>
