@model IEnumerable<ChannakyaBase.Model.ViewModel.ShareTransaction>
@using ChannakyaBase.BLL
@using ChannakyaBase.BLL.Service
@{
    int OPurQty = 0;
    int ORetQty = 0;
    decimal OPurAmount = 0;
    decimal ORetAmount = 0;
    int PPurQty = 0;
    int PRetQty = 0;
    decimal PPurAmount = 0;
    decimal PRetAmount = 0;
    int totalShareReturnQty = 0;
    int totalSharePurchaseQty = 0;
    decimal totalShareReturnAmount = 0;
    decimal totalSharePurchaseAmount = 0;

    CommonService cmService = new CommonService();

    var fromDate = Convert.ToDateTime(ViewBag.fromDate).ToShortDateString();
    var toDate = Convert.ToDateTime(ViewBag.ToDate).ToShortDateString();

}
@*margin:0px 321px;*@
<div class="table table-responsive">
    @if (ViewBag.Status != 1)
    {
        
                }


                @*<div class="col-md-12" style="text-align:center">
                            <div class="row">

                                <h5>
                                    <b>From Date .:</b> @fromDate &nbsp;
                                    <b>To Date .:</b> @toDate</h5>

                    </div>
                        </div>*@
                <table class="table table-bordered" border="1">
                    <tr>
                        <th>
                            Purchase-Return
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShareType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Effective Date
                        </th>

                        <th>
                            From
                        </th>
                        <th>
                            To
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Amount
                        </th>


                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.Pur == "Purchase")
                {
                    if (item.ShareType == "Ordinary")
                    {
                        OPurQty += 1;
                        OPurAmount += (decimal)item.Amt;
                    }
                    else
                    {
                        PPurQty += 1;
                        PPurAmount += (decimal)item.Amt;
                    }
                    totalSharePurchaseQty = OPurQty + PPurQty;
                    totalSharePurchaseAmount = PPurAmount + OPurAmount;
                                <td>
                                    <span>Purchase</span>
                                </td>

                            }
                            else
                            {
                                if (item.ShareType == "Ordinary")
                                {
                                    ORetQty += 1;
                                    ORetAmount += (decimal)item.Amt;
                                }
                                else
                                {
                                    PRetQty += 1;
                                    PRetAmount += (decimal)item.Amt;
                                }
                                totalShareReturnQty = ORetQty + PRetQty;
                                totalShareReturnAmount = ORetAmount + PRetAmount;
                                <td>
                                    <span>Return</span>
                                </td>
                            }
                           
                                <td>
                                    <span>@item.ShareType</span>
                                </td>
                            
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @if (item.SDate != Convert.ToDateTime("1/1/0001 12:00:00 AM"))
                                {
                                    <span>@Convert.ToDateTime(item.SDate).ToShortDateString()</span>
                                }
                                else
                                {
                                    <span></span>
                                }
                            </td>

                            <td>
                                <span>@item.FSno</span>
                            </td>
                            <td>
                                <span>@item.TSno</span>
                            </td>
                            <td>
                                <span>@item.SQty</span>
                            </td>
                            <td>
                                <span class="control-label">@Convert.ToDecimal(item.Amt).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</span>
                            </td>
                        </tr>
                    }

                    <tr>
                        <td colspan="6"></td>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Qty
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>

                        </th>
                        <th>
                            Qty
                        </th>
                        <th>
                            Amount
                        </th>
                    </tr>

                    <tr>
                        <td>
                            Ordinary Share Purchased:
                        </td>

                        <td>
                            <span>@OPurQty</span>
                        </td>
                        <td>

                            <span class="control-label">@Convert.ToDecimal(OPurAmount).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</span>
                        </td>
                        <td>
                            Ordinary Share Returned:
                        </td>

                        <td>
                            <span>@ORetQty</span>
                        </td>
                        <td>
                            <span>@Convert.ToDecimal(ORetAmount).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Promoter Share Purchased:
                        </td>
                        <td>
                            <span>@PPurQty</span>
                        </td>
                        <td>
                            <span>@Convert.ToDecimal(PPurAmount).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</span>
                        </td>
                        <td>
                            Promoter Share Returned:
                        </td>
                        <td>
                            <span>@PRetQty</span>
                        </td>
                        <td>
                            <span>@Convert.ToDecimal(PRetAmount).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total Share Purchased:
                        </td>
                        <td>
                            <span>@(OPurQty + PPurQty)</span>
                        </td>

                        <td>
                            <span>@Convert.ToDecimal(OPurAmount + PPurAmount).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</span>
                        </td>
                        <td>
                            Total Share Returned:
                        </td>
                        <td>
                            <span>@(ORetQty + PRetQty)</span>
                        </td>

                        <td>
                            <span>@Convert.ToDecimal(ORetAmount + PRetAmount).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</span>
                        </td>

                    </tr>



                </table>
            </div>