@model IEnumerable<ChannakyaBase.Model.ViewModel.ShareStatement>
@using ChannakyaBase.BLL
@using ChannakyaBase.BLL.Service
@{
    var shareDetails = Model.FirstOrDefault();
    CommonService cmService = new CommonService();
    int PurQty = 0;
    int RetQty = 0;
    decimal Amount = 0;

}
<div class="table table-responsive">
    <table class="table">
        <tr>
            <th colspan="4">
                Share Holder Details:
            </th>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                @shareDetails.Name
            </td>
            <td>
                RegNo:
            </td>
            <td>
                @shareDetails.RegNo
            </td>
        </tr>
        <tr>
            <td>
                Father:
            </td>
            <td>
                @shareDetails.FatherName
            </td>
            <td>
                Grand Father:
            </td>
            <td>
                @shareDetails.GFatherName
            </td>
        </tr>
        <tr>
            <td>
                Address:
            </td>
            <td colspan="3">
                @shareDetails.location
            </td>
        </tr>


    </table>
    <table class="table" >
        <tr>

            <th style="text-align:right">
                Cert.No
            </th>
            <th>
                Return/Purchase
            </th>
            <th>
                Type
            </th>
            <th>
                Date(AD)
            </th>
            <th>
                Date(BS)
            </th>
            <th style="text-align:right">
                From
            </th>
            <th style="text-align:right">
                To
            </th>
            <th style="text-align:right">
                Pur.Qty
            </th>
            <th style="text-align:right">
                Ret.Qty
            </th>
            <th style="text-align:right">
                Amount
            </th>

        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td style="text-align:right">
                    @item.SCrtno
                </td>
                @if (item.Pur == 1)
                {
                    <td>
                        <span> Purchase</span>
                    </td>
                }
                else
                {
                    <td>
                        <span> Return</span>
                    </td>
                }
                @if (item.SType == 1)
                {
                    <td>
                        <span> Ordinary</span>
                    </td>
                }
                else
                {
                    <td>
                        <span> Promoter</span>
                    </td>
                }
                <td>
                    @if (item.PDate != Convert.ToDateTime("1/1/0001 12:00:00 AM"))
                {
                        <span>@cmService.GetEnglishDate(Convert.ToDateTime(item.PDate))</span>
                    }
                </td>
                <td>
                    @if (item.PDate != Convert.ToDateTime("1/1/0001 12:00:00 AM"))
                {
                        <span>@cmService.GetNepaliDate(Convert.ToDateTime(item.PDate))</span>
                    }
                </td>
                <td style="text-align:right">
                    @item.FSno
                </td>
                <td style="text-align:right">
                    @item.TSno
                </td>
                <td style="text-align:right">
                    @item.PurQty
                </td>
                <td style="text-align:right">
                    @item.RetQty
                </td>
                <td style="text-align:right">
                    <span class="control-label">@Convert.ToDecimal(item.Amount).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</span>

                </td>

                @{PurQty += (int)item.PurQty;
                RetQty += (int)item.RetQty;
                Amount += (decimal)item.Amount;
                }
            </tr>
                    }
        <tr>

            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="7" style="text-align:center">
                Totals
            </th>
            <td style="text-align:right">
                <span>
                    @PurQty
                </span>
            </td>
            <td style="text-align:right">
                <span>
                    @RetQty
                </span>
            </td>
            <td style="text-align:right">
                <span>
                    @Amount.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </span>
            </td>
        </tr>

    </table>

    </div>