@model IEnumerable<ChannakyaBase.Model.ViewModel.UserReportViewModel>
@using ChannakyaBase.BLL
@using ChannakyaBase.BLL.Service
@using ChannakyaBase.BLL.CustomHelper
@using ChannakyaCustomeDatePicker.Helper;
@{
    CommonService cs = new CommonService();
    string Accno = "";
    decimal totalcr = 0;
    decimal totaldr = 0;
    int countcr = 0;
    int countdr = 0;


}
<div class="table table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>
                Account Number
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Dr Amount
            </th>
            <th>
                Cr Amount
            </th>

            <th>
                Description
            </th>
            <th>
                Trx. No
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Iaccno != null && item.Iaccno != 0)
                {

                    var abc = @cs.GetAccountNameByIaccno(Convert.ToInt32(item.Iaccno));
                    Accno = abc.Accno;
                }

                    @if (item.Iaccno != null && item.Iaccno != 0)
                {
                        <span>
                            @Accno
                        </span>
                    }

                </td>
                <td>
                    @if (item.Iaccno != null && item.Iaccno != 0)
                {
                        <span> @cs.GetCustomerNameByIaccno((int)item.Iaccno)</span>
                    }

                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Dramt)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Cramt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tdesc)
                </td>
                <td>
                    <span>
                        @Convert.ToInt32(item.Tno)
                    </span>
                </td>
            </tr>
            totaldr = totaldr + item.Dramt;
            totalcr = totalcr + Convert.ToDecimal(item.Cramt);
            if (item.Dramt > 0)
            {
                countdr = countdr + 1;
            }
            else
            {
                countcr = countcr + 1;
            }
        }
        <tr>
            <td colspan="6"></td>
        </tr>
        <tr>
            <th colspan="2">Total</th>
            <td style="text-align:right">@totaldr.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
            <td style="text-align:right">@totalcr.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>

            <th colspan="2">
                <span>Closing Balance : </span>   @{
                    decimal grandTotal = totaldr - totalcr;

                }
                @grandTotal.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
            </th>
        </tr>
        <tr>
            <th colspan="2">Count</th>
            <td style="text-align:right">@countdr</td>
            <td style="text-align:right">@countcr</td>
            <td colspan="2"></td>

        </tr>
    </table>
    </div>